@keyframes flash {
	0% {
        color: lightsalmon;
        opacity: 1;
    }

    50% {
        color: salmon;
        opacity: 1;
    }

    100% {
        color: lightsalmon;
        opacity: 1;
    }
}

.question-title{
    font-size: 1.5em;
    transition: 0.2s;
}

.question-title:hover{
    color: lightsalmon;
}

.question-message {
    font-size: 1.8em;
    text-align: justify;
}

.home-button {
    -webkit-filter: opacity(1) drop-shadow(0 0 0 salmon);
    position: fixed;
    left: 2.1em;
    top: 2.1em;
    max-height: 3.8em;
    max-width: 3.8em;
    transition: 0.2s;
}

.home-button:hover {
    -webkit-filter: opacity(1) drop-shadow(-6px -3px 1.5px lightsalmon);
}

.header {
    z-index: 1000;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #f0f8fc;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;
}

body {
    background-color: #444444;
    text-align: left;
    margin-top: 10em;
    margin-left: 10em;
    margin-right: 10em;
}

h1 {
    position: relative;
    margin: 0.2em 0;
    left: 2em;
    max-width: calc(100% - 2.1em);
    max-height: 92px;
	animation: flash linear 3s infinite;
    font-size: 5em;
    color: lightsalmon;
    font-family: 'Staatliches', cursive;
    white-space: nowrap;

}

a {
    text-decoration: none;
    color: #f0f8fc;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.2s;
}

a:visited {
    color: #f0f8fc
}

a:hover {
    color: lightsalmon;
}

.comment {
    text-align: right;
}

.comment-msg {
    color: #f0f8fc;
}

.btn {
    display: inline-block;
    margin-top: 60px;
    margin-right: 20px;
    text-transform: uppercase;
    padding: 0.8em 1.2em;
    background: none;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    transition:color 0.25s ease;
    border:.2em solid white;
    border-radius: 6px;
}

.btn:hover {
  color:salmon;
}

.btn::after {
  position: absolute;
  content: '';
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform-origin:left;
  transition:width 0.25s ease;
  z-index:-1;
}

.btn:hover::after {
  width: 100%;
}

h4 {
    font-size: 1.3em;
    transition: 0.2s;
}

.icon {
    max-width: 0.8em;
}

table {
    border-collapse: collapse;
    width: auto;
    margin-left:auto;
    margin-right:auto;
}

th {
    font-size: 1.8em;
    font-weight: bold;
    color: lightsalmon;
    padding: 10px 25px;
    animation: flash linear 3s infinite;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

td {
    font-size: 1.5em;
    text-align: center;
    border-top: 1px black solid;
    padding: 5px 0px;
}


tr:hover {
    background-color: #4d4d4d;
}

tr {
    transition:0.15s;
}

.registration {
    font-size: 1.5em;
    font-weight: bold;
    color: #f0f8fc;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 5px;
}

input {
    background-color: #f0f8fc;
    font-weight: bold;
    border-radius: 6px;
}

::placeholder {
    color: #ffac7d;
}

.register_box {
    font-size: 1.2em;
    padding-left: 5px;
}

.login_box {
    font-size: 1.2em;
    padding: 0.6em 1.2em;
    border:.2em solid white;
    font-weight: bold;
}

.login_btn {
    display: inline-block;
    margin-top: 22px;
    margin-right: 20px;
    text-transform: uppercase;
    background: lightsalmon;
    color:white;
    font-size: 1.2em;
    padding: 0.6em 1.2em;
    border:.2em solid white;
    font-weight: bold;
    position: relative;
    transition:color 0.25s ease;
    border-radius: 6px;
    z-index: 1100;
}

.login_btn:hover {
  color:salmon;
}

.login_btn:hover::after {
  width: 100%;
}

.username {
    float: right;
    overflow: hidden;
    position: fixed;
    right: 2.46em;
    top: -0.25em;
    font-family: 'Roboto Condensed', sans-serif;
}

.login {
    float: right;
    overflow: hidden;
    position: fixed;
    right: 2.1em;
    top: 2.1em;
}