<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Comment</title>
        <link rel="stylesheet" href="/static/style.css">
        <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>Comments</h1></div>
    </head>
    <body>
        <h1><a href="/question/{{ num }}">Back</a> </h1>
        <div class="comment">
            <form action="/answercomment" method="post">
                <p>
                    {% if u_name != None %}
                        <label for="comment">Comment:</label><br>
                        <input type="text" name="comment" id="comment">
                        <input type="hidden" value="{{ num }}" name="question_id" id="question_id"><br>
                        <input type="hidden" value="{{ answer_id }}" name="answer_id", id="answer_id"><br>
                        <br>
                        <button type="submit" class="btn">Submit</button>
                    {% endif %}
                </p>
            </form>
            {% for comment in comments %}
                <h4>
                    {{ comment.message }}
                    {{ comment.submission_time }}
                    {% if u_name == comment.user_name%}
                    <a href="/question/{{ num }}/a-comment/{{ answer_id }}/delete-comment/{{ comment.id }}"><img src="/static/images/trash.png" class="icon"> Delete </a><a href="/question/{{ num }}/a-comment/{{ answer_id }}/edit-comment/{{ comment.id }}"><img src="/static/images/pencil.png" class="icon"> Edit </a>
                    {% endif %}
                    By: {{ comment.user_name }}
                </h4>
            {% endfor %}
        </div>
    </body>
</html>