<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>USERS</h1></div>
    </head>
    <body>
        <table>
            <tr>
                <td class="table_header">User ID</td>
                <td class="table_header">Username</td>
                <td class="table_header">Registration time</td>
            </tr>
            {%  for user in user_data %}
                <tr>
                    <td class="table_data">{{ user.id }}</td>
                    <td class="table_data">{{ user.user_name }}</td>
                    <td class="table_data">{{ user.registration_time }}</td>
                </tr>
            {%  endfor %}
        </table>
        <div class="test">teszt</div>
    </body>
</html>