<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Answer</title>
        <link rel="stylesheet" href="/static/style.css">
        <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>Edit comment</h1></div>
    </head>
    <body>
    {% block content %}
        <a href="/question/{{num}}/"><h1>Back</h1> </a>
        <form method="POST" action="/question/{{num}}/edit-answer/{{answer_id}}">
        <h3>
            Message:
            <br>
            {% for message in answer %}
                <textarea name="message" id="message" rows="6" cols="40" minlength="10">{{ message.message}}</textarea>
            {% endfor %}
            <input type="hidden" value="{{num}}" name="question_id" id="question_id" />
            <br>
            <input type="submit" value="Submit">
        </h3>
        </form>
    {% endblock %}
    </body>
</html>