<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ask a question</title>
        <link rel="stylesheet" href="/static/style.css">
        <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>NEW QUESTION</h1></div>
    </head>
    <body>
        <form method="POST" action="/submit-question">
            <h2 class="page-title"> Title: </h2>
            <br> <br>
            <input type="text" name="title" id="title" class="register_box">
            <br> <br>
            <h2 class="page-title"> Message: </h2>
            <br> <br>
            <textarea name="message" id="message" rows="4" cols="20" class="big_register_box"></textarea>
            <br> <br>
            <input type="submit" value="Submit" class="login_btn">
        </form>
    </body>
</html>