<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1><a href="/question/{{ num }}">Back</a> </h1>
<div class="comment">
    <form action="/comment" method="post">
        <p>
            <label for="comment">Comment:</label><br>
            <input type="text" name="comment" id="comment">
            <input type="hidden" value="{{ num }}" name="question_id" id="question_id"><br>
            <br>
            <button type="submit">Submit</button>
        </p>
    </form>
    {% for comment in comments %}
    <h4>
        {{ comment.message }}
        {{ comment.submission_time }}
        <a href="/question/{{ num }}/q-comment/{{ comment.id }}">Delete</a>
    </h4>
        <h5><a href="/question/{{ num }}/q-comment/edit-comment/{{ comment.id }}">Edit </a> </h5>
    {% endfor %}
</div>
</body>
</html>