<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{questions.title}} </title>
        <link rel="stylesheet" href="/static/style.css">
        {% block content %}
        {% for question in questions %}
        <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>{{question.title}}</h1></div>
    </head>
    <body>
        <br>
        <h4 class="question-message">{{question.message}}</h4><br>
        <h6>
            <p>{{'Posted: '+question.submission_time|string}} </p>
            <p>{{'User: '+question.user_name|string}} </p>
        </h6>
        <h4>
            <a href="/">                                            <img src="/static/images/back-arrow.png" class="icon">  Back</a>
            {% if u_name != None %}
                <a href="/question/{{question.id}}/new-answer">     <img src="/static/images/pencil.png" class="icon">      Answer </a>
            {% endif %}
            {% if u_name == question.user_name %}
                <a href="/delete-question/{{question.id}}">         <img src="/static/images/trash.png" class="icon">       Delete this question</a>
            {% endif %}
            <a href="/question/{{ question.id|int}}/q-comment">     <img src="/static/images/eye.png" class="icon">         Comments</a>
        </h4>
        <br>
        {% endfor %}
        <h2 class="page-title">Answers:</h2>
        {% for answer in answers_list %}
        <h3 class="answer-message">{{answer.message}}</h3>
        <p class="comment-data">Posted: {{answer.submission_time}} By: {{ answer.user_name|string }}
            {% if u_name == answer.user_name %}
                {% for question in questions %}
                    <a href="/answer/{{ question.id}}/delete-answer/{{ answer.id }}">       <img src="/static/images/trash.png" class="icon">     Delete </a>
                {% endfor %}
                    <a href="/question/{{ num|int}}/edit-answer/{{ answer.id }}">           <img src="/static/images/pencil.png" class="icon">  Update</a>
            {% endif %}
                    <a href="/question/{{ num }}/a-comment/{{ answer.id }}">                <img src="/static/images/eye.png" class="icon">     Comments</a>
            <br>
        </p>
        <p></p>
        {%endfor%}
    {% endblock %}
    </body>
</html>