<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{questions.title}} </title>
    <link rel="stylesheet" href="/static/style.css">
    {% block content %}
    {% for question in questions %}
    <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>{{question.title}}</h1></div>
</head>
<body><br>
        <h4 class="question-message">{{question.message}}</h4><br>
        <h6>
        <p>{{'View Number: '+question.view_number|string}}</p>
        <p>{{'Votes: '+question.vote_number|string}}</p>
        <p>{{'Posted: '+question.submission_time|string}} </p>
        </h6>
        <p></p>
        <h4><a href="/">Back</a> ------- <a href="/question/{{question.id}}/new-answer">Answer</a> ------ <a href="/delete-question/{{question.id}}", >Delete this question</a>
        ------<a href="/question/{{ question.id }}/q-comment">Comments</a> </h4>
        <p></p>
    {% endfor %}
     <h4>Answers:</h4>
    {% for answer in answers_list %}
        <p>
        <h3>{{answer.message}}</h3>
        </p>
        <p>Votes: {{answer.vote_number}} <a href="">▲</a> <a href="">▼</a>  Posted: {{answer.submission_time}}
            {% for question in questions %}
                <a href="/answer/{{ question.id}}/delete-answer/{{ answer.id }}"> Delete </a>
            {% endfor %}

            {% for question in questions %}
            <a href="/question/{{ question.id}}/edit-answer/{{ answer.id }}">Update</a>
            {% endfor %}
        </p>
        <p></p>
        {%endfor%}
{% endblock %}
</body>
</html>