<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>REGISTRATION</h1></div>
</head>
<body>
<form action="/registration" method="post">
            <h3 for="user_name" class="registration">User Name </h3>
            <input id="user_name" type="text" name="user_name" placeholder="username" class="register_box"><br>
            <h3 for="psswrd" class="registration">Password (Min. 5 char)</h3>
            <input id="psswrd" type="text" name="candy" minlength="5" placeholder="password" class="register_box"><br>
            <input type="submit" value="Register" class="login_btn">
    </form>
</body>
</html>