<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User Registration</title>
</head>
<body>
<form action="/registration" method="post">
            <label for="user_name">User Name (Min. 5 char) </label><br>
            <input id="user_name" type="text" name="user_name" placeholder="User Name"><br>
            <label for="psswrd">Password (Min. 5 char)</label><br>
            <input id="psswrd" type="text" name="candy" minlength="5" placeholder="Password"><br>
            <input type="submit" value="Registration">
    </form>
</body>


</html>

{% if warning is defined %}
<script>alert('Invalid registration')</script>
{% endif %}