<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <div class="header"> <a href="/"><img src="/static/images/home_button.png" class="home-button"></a><h1>USERS</h1></div>
</head>
<body>
<form action="/registration" method="post">
            <label for="user_name" class="registration">User Name </label><br>
            <input id="user_name" type="text" name="user_name" placeholder="User Name"><br>
            <label for="psswrd" class="registration">Password (Min. 5 char)</label><br>
            <input id="psswrd" type="text" name="candy" minlength="5" placeholder="Password"><br>
            <input type="submit" value="Registration">
    </form>
</body>
</html>